@use 'base/variables' as v;
@use 'base/mixins' as m;


.paginacion{
    padding: v.$separacion 0 ;

    @include m.telefono{
        display: flex;
        justify-content: space-between;
    }

    button{
        margin: 0 0 1rem 0;
    }
}

.ocultar{
    /* Si usamos display:none de alguna manera lo elimina del DOM y hace que el boton siguiente se mueva de posicion
    
    Al usar visibiliti solamente se oculta pero no mueve los demas elementos
    */
    visibility: hidden;
}